<div class="card">
	<header class="card-header">
		<p class="card-header-title milestoneTitle" id="{{id}}" projectId="{{project_id}}">
			{{title}}
		</p>
		<a class="card-header-icon" aria-label="more options">
		<span class="icon">
			<i class="fas fa-angle-down" aria-hidden="true"></i>
		</span>
		</a>
	</header>
	<div class="card-content">
		<div class="content">
		</div>
	</div>
	<footer class="card-footer">
		<a href="#" class="card-footer-item editMilestone" data-id="{{id}}" projectId="{{project_id}}"><span>Edit</span></a>
		<a href="#" class="card-footer-item deleteMilestone" data-id="{{id}}" projectId="{{project_id}}"><span>Delete</span></a>
	</footer>
</div>