{{!-- Start of Projects repeating element --}}
<div class="notification">
	<h2 class="title">
		<a href="/project/{{id}}">{{title}}</a>
	</h2>
	<div class="content">
		{{#if target_completion_date}}
		<p>
			<strong>Due:</strong> {{target_completion_date}}</p>
		{{/if}} {{#if description}}
		<p>{{description}}</p>
		{{/if}}
	</div>
	<div class="dropdown is-inactive">
		<div class="dropdown-trigger">
			<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
				<span>Options</span>
				<span class="icon is-small">
					<i class="fas fa-angle-down" aria-hidden="true"></i>
				</span>
			</button>
		</div>
		<div class="dropdown-menu" id="dropdown-menu" role="menu">
			<div class="dropdown-content">
				<a class="dropdown-item editProject" data-id="{{id}}">
					<span>Edit</span>
				</a>
				<a class="dropdown-item deleteProject" data-id="{{id}}">
					<span>Delete</span>
				</a>
				<a class="dropdown-item completeProject" data-id="{{id}}">
					<span>Mark Completed</span>
				</a>
				<a class="dropdown-item addMilestone" data-id="{{id}}">
					<span>Add Milestone</span>
				</a>
			</div>
		</div>
	</div>
	
	{{!-- Get all milestones for project id and display them.  --}}
					{{#each milestone}} {{> milestone-block}} {{/each}}
</div>
{{!-- end of repeating element --}}